.docentes{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
}

.docentes .container{
    padding: 20px;
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
    width: calc(100% - 205px);
}
.docentes .dsiNav .link2{
    color: orangered;
}
.container h1{
    text-align: center;
    font-size: 37px;
}
.docentes .container .box-profes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 20px;
    padding-bottom: 130px;
}
.docentes .container .box {
    box-shadow:  0 0 3px aqua;
    border-radius: 12px;
    width: 100%;
    padding: 2%;
    background: rgba(21, 21, 21, 0.45);
    transition: 0.3s ease;
    animation: aparecer 0.5s ease-in-out forwards;
    opacity: 0;
}
.docentes .container .box:hover{
    transform: scale(1.03);
    box-shadow:  0 0 10px aqua;
}
.docentes .container .box h5{
    text-align: center;
    /* -webkit-text-stroke: 1px orangered; */
    text-shadow: 0 0 5px aqua;
                font-size: 18px;
}
.docentes .container .box img{
    width: 100%;
    transition: .3s ease;
    max-height: 200px;
    object-fit: contain;
    margin-left: 0;
}
.docentes .container .box div{
    background: white;
    color: black;
    padding:  10px;
    border-radius: 7px;
    box-shadow: 0 0 3px orangered;
}
.docentes .container .box div p, h4{
    text-align: center;
    font-size: initial;
}
@media (max-width: 1000px){
    .docentes .container .box-profes{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media (max-width: 800px){
    .docentes h1{
        font-size: 25px;
    }
    .docentes .container{
        margin-left: 55px;
        width: calc(100% - 55px);
    }
}
@media (max-width: 700px){
    .docentes main{
        margin-top: -70px;
    }
}