.docentes{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
}

.docentes .container{
    padding: 5px;
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
    width: calc(100% - 205px);
    border: red solid 1px;
}
.docentes .navegador .link3 {
    color: orangered;
}
.docentes .dsiNav .link2{
    color: orangered;
}
.docentes .dsiNav .lateral .link2 .icons-lateral{
    color: orangered;
}
.container h1{
    text-align: center;
    font-size: 37px;
}
.docentes .container .box-profes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 130px;
}
.docentes .container .box-profes .box {
    position: relative;
    box-shadow:  0 0 1px aqua;
    background: rgba(21, 21, 21, 0.45);
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    animation: aparecer 0.5s ease-in-out forwards;
    transition: 0.3s ease;
    opacity: 0;
}
.docentes .container .box p{
    text-align: center;
    font-size: 16px;
    font-family: 'poppins';
    margin: 0;
}
.docentes .container .box img{
    width: 200px;
    height: 200px;
    transition: .3s ease;
    object-fit: cover;
}
.docentes .container .box div{
    width: 100%;
    color: white;
}
.docentes .container .box div p, h4{
    text-align: center;
    font-size: initial;
}
@media (max-width: 1000px){
    .docentes .container .box-profes{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media (max-width: 800px){
    .docentes h1{
        font-size: 25px;
    }
    .docentes .container{
        margin-left: 55px;
        width: calc(100% - 55px);
    }
}
@media (max-width: 700px) {
    .docentes .box-profes .box{
        padding: 0;
    }
    .docentes .box-profes .box img{
        width: 130px;
        height: 130px;
    }
    .docentes .box-profes .box .txtPr{
        font-size: 13.5px;
    }
}