.acerca {
    position: relative;
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
}

.acerca .navegador .link3 {
    color: orangered;
}
.acerca .dsiNav .link1{
    color: orangered;
}

.acerca .navegador .link3::before {
    width: 100%;
}

.acerca .container {
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
    width: calc(100% - 205px);
}

.acerca .container .div1 .aa {
    text-align: center;
    margin: 0;
    font-size: initial;
    padding-bottom: 15px;
}

.acerca .container .div1 h1 {
    text-align: center;
    margin-top: -30px;
}

.acerca .container .subContent {
    position: relative;
    display: flex;
    gap: 25px;
}
.acerca .container .div1 .titulo p{
    margin-left: 0;
    font-size: 18px;
    text-align: center;
}

.acerca .subContent section {
    padding: 15px;
}

.acerca .subContent .div1 {
    width: calc(100% - 305.5px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-right: orangered solid 1px;
}

.acerca .subContent .div1 .infoCarre {
    display: flex;
    justify-content: space-evenly;
}

.acerca .subContent .div1 .descripcion,
.lenguajes,
.perfil,
.salida {
    border-left: orangered solid 2px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 8px;
}

.acerca .subContent .div1 h5 {
    color: orangered;
    text-decoration: underline 2px;
}

.acerca .subContent .div1 p {
    font-size: initial;
}
.acerca .subContent .div1 .infoCarre div {
    box-shadow: 0 0 2px gray;
    height: 40px;
    border-radius: 15px;
    display: grid;
    place-items: center;
    padding-left: 7px;
    padding-right: 7px;
    transition: 0.3s ease;
}

.acerca .subContent .div1 .infoCarre div p {
    text-align: center;
    margin-left: 0;
}

.acerca .subContent .div1 .infoCarre div:hover {
    box-shadow: 0 0 3px gray;
    transform: scale(1.03);
}
.acerca .subContent .div1 .descripcion p{
    margin-left: 0;
}

.acerca .subContent .div1 .lenguajes h6 {
    text-decoration: underline;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgb(109, 250, 238),
                0 0 5px rgb(109, 250, 238);
    font-size: 14px;
    font-family: arial narrow;
}
.acerca .subContent .div1 .lenguajes .box-lenguajes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.div1 .box-lenguajes .card {
    box-shadow: 0 0 5px orangered;
    display: flex;
    flex-direction: column;
    border-radius: 7px 30px;
    align-items: center;
    padding: 10px;
    background: rgb(237, 255, 254);
    color: black;
    transition: 0.3s ease;
    position: relative;
}

.div1 .lenguajes .box-lenguajes .card:hover {
    z-index: 1;
    transform: scale(1.03);
}


.acerca .subContent .div1 .lenguajes .box-lenguajes>.card:last-child {
    grid-column: 2 / -2;
    justify-self: center;
}

.div1 .box-lenguajes .card img,
.img {
    width: 50px;
    font-size: 40px;
}

.div1 .lenguajes .box-lenguajes .card h6 {
    text-decoration: none;
    text-shadow: none;
}
.div1 .lenguajes .box-lenguajes .card p{
    margin-left: 0;
}
.div1 .descripcion2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.div1 .descripcion2 .perfil img {
    width: 100%;
    object-fit: cover;
}

.div1 .descripcion2 .perfil,
.salida {
    padding-left: 5px;
}

.div1 .perfil ul,
.salida ul {
    margin-left: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div1 .descripcion2 ul li{
    font-weight: 25px;
    /* font-weight: lighter; */
}


.acerca .subContent .div2 {
    position: fixed;
    right: 18px;
    width: 300px;
    height: calc(100% - 70px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 1px;
    }
}

.acerca .subContent .div2 .galeria {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
}

.acerca .subContent .div2 .galeria img {
    width: 100%;
    transition: .3s ease;
    margin-left: 0;
}

.acerca .subContent .div2 .galeria img:hover {
    transform: scale(1.1);
}
@media (max-width: 1200px){
    .acerca .subContent .div1 .lenguajes .box-lenguajes{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1000px) {
    .acerca .subContent {
        display: flex;
        flex-direction: column;
    }

    .acerca .subContent .div1 {
        width: 100%;
        border: none;
    }


    .acerca .subContent .div2 {
        position: initial;
        height: auto;
        width: 100%;
    }
    .acerca .subContent .div2 .galeria{
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
    }
}

@media (max-width: 800px) {
    .acerca .div1 h1{
        font-size: 2rem;
    }
    .acerca .container {
        margin-left: 55px;
        width: calc(100% - 55px);
    }
    .acerca .subContent .div1 .infoCarre{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .acerca .subContent .div1 .lenguajes .box-lenguajes{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px){
    .acerca .subContent .descripcion2{
        display: flex;
        flex-direction: column;
    }
    .acerca .subContent .div2{
        padding-bottom: 180px;
    }
}

