.horario{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
    scroll-behavior: smooth; /* Aplica desplazamiento suave a toda la página */
}

.horario .container{
    position: relative;
    padding: 5px;
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
}
.horario .container .titulo{
    text-align: center;
    margin-top: 50px;
    font-family: 'poppins';
    font-size: 23px;
}
.horario .container nav{
    position: fixed;
    top: 74px;
    width: calc(100% - 230px);
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(20px);
    z-index: 1;
    pointer-events: none;
}
.horario .container .hor_ciclos a{
    font-family: 'poppins';
    font-weight: initial;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 85px;
    padding: 4px 0;
    border-radius: 8px;
    box-shadow: 0 0 2px aqua;
    transition: .3s ease;
    pointer-events: initial;
    scroll-behavior: smooth; /* Aplica desplazamiento suave a toda la página */

}
.horario .hor_ciclos a:hover{
    transition: .3s ease;
    box-shadow: 0 0 5px aqua;
}
.horario .container table thead tr{
    border: white solid 1px;
}

.horario .tablas_horario{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding: 5px;
    height: calc(100vh - 140px);
    overflow-y: auto;
}
.horario .tablas_horario .tabla{
    background: rgb(37, 37, 37);
    margin-top: 0;
}
.horario .tablas_horario .ultima{
    margin-bottom: 200px;
}
.horario .tabla h3{
    font-family: 'poppins';
    font-size: 18px;
    text-align: center;
}
table {
    width: 100%;
    border: 1px solid #ccc;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    font-family: 'poppins';
    height: 70px;
}

th {
    background-color: #f2f2f2;
    color: black;
    height: auto;
    transition: .3s ease;
}

td:hover {
    background-color: #f1f1f1c9;
    color: black;
    transition: .5s ease;

}

tbody td:nth-child(1) {
    background-color: #e0e0e0; 
    color: black;
    width: 105px;
    text-align: center;
}
tbody tr:nth-child(6) td{
    background-color: #e0e0e0;
    color: black;
    height: auto;
}

@media (max-width: 800px){
    .horario .container{
        margin-left: 55px;
        width: calc(100% - 55px);
    }
    .horario .container nav{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .horario .tablas_horario table th, td{
        font-size: 10px;
    }
}