.periodico {
    position: relative;
    overflow-y: auto;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
}

.periodico .navegador .link4 {
    color: orangered;
}
.periodico .navegador .link4::before {
    width: 100%;
}

.periodico header {
    display: flex;
    justify-content: space-around;
    color: white;
    position: sticky;
    top: 70px;
}

.periodico header div {
    border-radius: 10px;
    border: orangered solid 1px;
    width: 260px;
    padding: .5vw;
    text-align: center;
    backdrop-filter: blur(10px);
}

.periodico header h4 {
    color: orangered;
    font-family: 'Lato';
}

.periodico main section {
    display: flex;
    flex-direction: row;
}

.periodico section aside {
    border: none;
    padding: 20px;
    width: 100%;
    border-right: orangered solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.periodico section .curiosidades {
    border-right: none;
}

.periodico section p {
    color: white;
    width: 90%;
    margin-top: -15px;
    text-align: center;
}

.periodico section img {
    width: 90%;
    height: 250px;
    object-fit: cover;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 0 2px orangered;
}




/*************************************************/
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #1f1c1c;
    padding: 20px;
    max-width: 90%;
    min-width: 90%;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: -10px;
    right:5px;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

.modal .modal-content img {
    margin-top: 25px;
    max-width: 100%;
    min-width: 100%;
    max-height: calc();
    object-fit: contain;
}
@media (max-width: 700px){
    .modal-content{
        padding: 0;
        max-width: 100%;
        min-width: 100%;
    }
}