.registroUser{
    z-index: 1;
    display: flex;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
    flex-direction: column;
    color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow-y: auto;
    height: 100%;
    padding: 20px;
    padding-top: none;
}
.registroUser .cabeza{
    position: fixed;
    top: 0;
    padding: 0 20px;
    padding-top: 15px;
    display: flex;
    width: 96%;
    justify-content: space-between;
}
.registroUser .subRegistro{
    position: relative;
    margin: auto 0;
}
.registroUser .regis{
    margin-top: 90px;
}
.registroUser .subRegistro .icoVolver{
    position: absolute;
    top: -20px;
    left: -40px;
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
    color: orangered;
}
.registroUser .subRegistro .icoVolver:hover{
    cursor: pointer;
    box-shadow: orangered 0 0 4px;
}
.registroUser .subRegistro >h2{
    text-align: center;
}
.registroUser form{
    box-shadow: 0 0 2px orangered;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 20px;
}
form aside{
    display: flex;
    gap: 5px;
    padding-left: 20%;
}form aside .check{
    box-shadow: none;
    width: 18px;
}
.registroUser form div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.registroUser form .terminos{
    /* border: red solid 1px; */
    display: flex;
    flex-direction: row;
}
.registroUser form .link{
    text-decoration: none;
    text-shadow: none;
    color: aqua;
}
.registroUser form .link:hover{
    color: rgb(0, 125, 167);
    text-decoration: underline;
}
form div label{
    text-shadow: orangered 0 0 5px,
                orangered 0 0 5px,
                orangered 0 0 5px;
    font-family: arial narrow;
    font-size: 17px;
    margin-left: 5px;
}
form div input{
    padding: 5px;
    font-size: 17px;
    box-shadow: 0 0 2px orangered;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
form div input[type="checkbox"]{
    box-shadow: none;
    width: 20px;
}
form .errorPassword-message{
    color: orangered;
    text-align: center;
}
form div .icon{
    position: absolute;
    right: 5px;
    top: 30px;
}

form button{
    width: 150px;
    height: 40px;
    margin: 20px auto;
    color: white;
    box-shadow: 0 0 2px orangered;
    border: none;
    background: orangered;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}
button.disabled {
    background-color: #c6c4c4;
    cursor: not-allowed;
    pointer-events: none;
}
@media (max-width: 700px){
    .registroUser .subRegistro{
        padding-bottom: 150px;
    }
}
@media (max-height: 700px){
    .registroUser .sesion{
        margin-top: 90px;
    }
}