.beneficios{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
}
.beneficios .dsiNav .link5{
    color: orangered;
}
.beneficios .container{
    padding: 20px;
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
    width: calc(100% - 205px);
}
.beneficios-lista {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-bottom: 150px;
}

.beneficio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    animation: aparecer 0.5s ease-in-out forwards;
    opacity: 0;
}
.beneficio-item h2 {
    color: #007bff;
    margin: 0 0 10px;
}

.beneficio-item p {
    color: #555;
    font-size: 16px;
}
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 800px){
    .beneficios .container{
        margin-left: 55px;
        width: calc(100% - 55px);
    }
}