.modulos{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
}
.modulos .container{
    padding: 20px;
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
    width: calc(100% - 205px);
}
.modulos .dsiNav .link3{
    color: orangered;
}
.modulos .container h1{
    font-size: 37px;
}
.modulos .container p{
    font-size: 18px;
}
.modulos .moduls{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
    row-gap: 3vh;
}
.modulos .moduls div{
    position: relative;
    box-shadow: 0 0 2px orangered;
    border-radius: 7px 30px;
    padding: 1vw;
    max-width: 500px;
    background: rgba(21, 21, 21, 0.548);
}
.modulos .moduls div h3{
    font-size: 20px;
    text-align: center;
}
.modulos .moduls div img{
    width: 100%;
    height: calc(100% - 30px);
    margin-left: 0;
    object-fit: contain;
}

@media (max-width: 800px){
    .modulos .container{
        margin-left: 55px;
        width: calc(100% - 55px);
    }
    .modulos .container .moduls{
        grid-template-columns: repeat(1, 1fr);
    }
    .modulos .container .moduls div{
        height: auto;
    }
}
@media (max-width: 700px){
    .modulos main{
        margin-top: -70px;
    }
    .modulos .container h1{
        font-size: 25px;
    }
    .modulos .container .moduls{
        padding-bottom: 150px;
    }
    .modulos .container .moduls .modulFinal{
        display: none;
    }
}