.modulos{
    margin-top: 110px;
    height: calc(100vh - 110px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.modulos .container{
    width: 80%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(50, 224, 255);
    margin-left: -200px;
    display: grid;
    place-items: center;
    color: white;
}