.developers{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.developers .container{
    padding: 20px;
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
    border: red solid 1px;
    width: calc(100% - 205px);
    overflow-y: auto;
}
.container .imgs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}
.container img{
    width: 400px;
    margin-left: 10px;
}
