.dsiNav{
    display: flex;
    align-items: center;
    height: 80vh;
    display: flex;
}
.dsiNav .lateral{
    display: flex;
    height: calc(100% + 10px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 260px;
    pointer-events: none;
    padding: 5px;
}
.dsiNav .lateral .lateralIcons{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(50, 224, 255);
    background: rgb(8, 8, 49);
    width: 60px;
    height: 100%;
    pointer-events: initial;
    z-index: 1;
}
.dsiNav .lateral .lateralIcons .div{
    border-bottom: black solid 1px;
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
}
.dsiNav .lateral .lateralIcons .div:hover{
    background: #0c2435;
}
.dsiNav .lateral .lateralIcons .div .icons-lateral{
    width: 45%;
    height: 45%;
    color: rgb(255, 255, 255);
    background: none;
}


.dsiNav .lateral .lateral-hidde{
    position: absolute;
    width: 20px;
    height: calc(100% - 9px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    background: rgb(13, 41, 102);
    border-left: none;
    transition: 0.3s ease;
    pointer-events: initial;
    z-index: 0;
}
.lateral-hidde .dsiLink{
    width: 100%;
    color: white;
    text-decoration: none;
    border-bottom: black solid 1px;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: calibri;
    padding-left: 15px;
    
}
.lateral-hidde .dsiLink:hover{
    background: #162c68;
}
.dsiNav .lateral .lateralIcons:hover ~ .lateral-hidde{
    left: 55px;
    width: 200px;
}
.dsiNav .lateral .lateral-hidde:hover{
    left: 55px;
    width: 200px;
}
@media (max-width: 1300px){
     .dsiNav{
        height: 98%;
    }
}