.dsiNav{
    display: flex;
    align-items: center;
    height: 80vh;
    display: flex;
}
.dsiNav .lateral{
    display: flex;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    border-radius: 15px;
    width: 260px;
    pointer-events: none;
    box-shadow: 0 0 5px rgb(50, 224, 255);
}
.dsiNav .lateral .lateralIcons{
    display: flex;
    flex-direction: column;
    background: rgb(8, 8, 49);
    width: 60px;
    height: 100%;
    pointer-events: initial;
    z-index: 1;
}
.dsiNav .lateral .lateralIcons .div{
    border-bottom: black solid 1px;
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
}
.dsiNav .lateral .lateralIcons .div:hover{
    background: #0c2435;
}
.dsiNav .lateral .lateralIcons .div .icons-lateral{
    width: 45%;
    height: 45%;
    color: rgb(255, 255, 255);
    background: none;
}


.dsiNav .lateral .lateral-hidde{
    width: 200px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    background: rgb(7, 27, 68);
    border-left: none;
    transition: 0.3s ease;
    pointer-events: initial;
    z-index: 0;
}
.lateral-hidde .dsiLink{
    width: 100%;
    color: white;
    text-decoration: none;
    border-bottom: black solid 1px;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: calibri;
    padding-left: 10px;
    
}
.lateral-hidde .dsiLink:hover{
    background: #162c68;
}


@media (max-width: 1200px) {
    .dsiNav{
        height: 98%;
    }
    .dsiNav .lateral{
        box-shadow: none;
        border-radius: 0;
        height: calc(100% + 20px);
        padding: 10px;
        padding-right: none;
    }
    .dsiNav .lateralIcons{
        box-shadow: 0 0 5px rgb(50, 224, 255);
        border-radius: 15px;
    }
    .dsiNav .lateral .lateral-hidde{
        width: 0px;
    }
    .dsiNav .lateralIcons:hover ~ .lateral-hidde{
        width: 100%;
    }
    .dsiNav .lateral-hidde:hover{
        width: 100%;
    }
}
@media (max-width: 800px) {
    .dsiNav .lateral {
        padding: 0;
    }
    .dsiNav .lateral .lateralIcons{
        border-radius: 0;
    }
}