.code-example {
  background-color: #282c34;
  color: #fff;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
  font-size: 1vw;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-x: auto;
  width: 500px;
  margin-bottom: 20px;
  padding: 20px;
}

.code-example code span {
  color: white;
  animation: cursor .5s linear infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}