@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inicio{
    position: relative;
    height: 100vh;
    overflow-y: auto;
    font-family: "Poppins";
    transition: background-image .6s ease-in-out; /* Smooth transition */
}
.inicio .navegador{
    background: none;
    background: linear-gradient(135deg, rgba(4, 4, 27, 0.834) 0%, rgba(64, 2, 2, 0.246) 200%);
    box-shadow: 0 0 3px aqua;
    border: rgb(57, 68, 68) solid 1px;
}
.inicio .cabeza{
    background: linear-gradient(135deg, rgba(4, 4, 27, 0.834) 0%, rgba(64, 2, 2, 0.246) 200%);
}
.inicio .navegador .link1 {
    color: orangered;
}

.inicio .navegador .link1::before {
    width: 100%;
}

.inicio main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    height: calc(100vh - 70px);
}
.inicio main>div {
    margin: auto 0;
}

.inicio main .bienvenida {
    position: relative;
    color: #f0f0f0;
    text-align: center;
    font-size: 22px;
    font-family: 'poppins';
    color: aqua;
    width: auto;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 30px;
    backdrop-filter: blur(10px);
}

.inicio .icoNav {
    position: fixed;
    color: white;
    font-size: 28px;
    padding: 5px;
    left: 10px;
    z-index: 1;
}

.inicio .navHidde {
    position: fixed;
    left: -170px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
    width: 170px;
    padding-top: 35px;
    transition: 0.3s ease;
    z-index: 1;
}

.inicio .navHidde:hover {
    left: 0px;
}

.inicio .icoNav:hover~.navHidde {
    left: 0;
}

.inicio .navHidde .linkHidde {
    backdrop-filter: blur(10px);
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    display: flex;
    gap: 10px;
    align-items: center;
}

.inicio .navHidde .linkHidde:hover {
    background: rgba(255, 255, 255, 0.1);
}

.inicio .linkHidde::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, white, white);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    transition: width 0.3s ease-in-out;
}

.inicio .linkHidde:hover::before {
    width: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.inicio .content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-bottom: 150px;
}
.inicio .content .subContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.inicio .subContent2{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 255, 255, 0.126);
    box-shadow: 0 0 6px aqua;
    border: rgba(0, 0, 0, 0.139) solid 1px;
    padding: 20px;
    border-radius: 14px; 
    max-width: 750px;
    width: 100%;
    transition: .4s ease;
}
.inicio .subContent2 .insti{
    color: blue;
    text-shadow: 0 0 10px aqua;
    -webkit-text-stroke: .4px black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.inicio .subContent2 .des{
    font-size: 40px;
    color: rgb(32, 94, 251);
    -webkit-text-stroke: aqua .4px;
    text-shadow: 0 0 3px white,
                0 0 3px white;
}
.inicio .subContent2 p{
    font-size: 1.2rem;
    font-family: 'poppins';
    color: white;
}
.inicio .content .box-butons .butons1, .butons2{
    display: flex;
    gap: 70px;
    margin-left: 6%;
}
.inicio .box-butons button{
    border: none;
    padding: 0 15px;
    height: 40px;
    width: 140px;
    border-radius:8px;
    box-shadow: 0 0 3px aqua,
                0 0 3px aqua;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
}
.inicio .box-butons .btn1{
    background: orangered;
}
.inicio .box-butons .btn2{
    background: transparent;
    backdrop-filter: blur(10px);
}
.inicio .box-butons .btn2:hover{
    background: orangered;
}
.inicio .box-butons .butons2 button{
    background: transparent;
    width: auto;
    backdrop-filter: blur(20px);
}
.inicio .box-butons .butons2 button:hover{
    background: orangered;
}
.inicio .content .new_public{
    max-width: 450px;
    width: 100%;
    height: 340px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    transition: .4 ease;
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.publicaciones-container {
    display: flex; 
    transition: transform 0.5s ease; 
    border: transparent solid 1px;
    gap: 10px;
}

.box_publicaciones {
    position: relative;
    min-width: 100%; 
    width: 100%;
    width: 83px;
    box-sizing: border-box;
    border: 1px solid aqua; 
    border-radius: 8px; 
    background-color: #ffffff49; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin-left: -5px;
    overflow: hidden;
}
.box_publicaciones .box_user{
    position: absolute;
    top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.box_publicaciones .user{
    color: black;
    background: white;
    font-size: 16px;
    font-family: 'poppins';
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
.box_publicaciones .txt_descrip{
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 4px black;
    border-radius: 6px;
    font-family: 'poppins';
    right: 10px;
    bottom: 10px;
    padding: 0 10px;
    font-size: 15px;
    color: white;
}
.box_publicaciones img{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -0;
    border-radius: 8px;
}
.box_publicaciones video{
    width: 100%;
    height: 100%;
}
.box_publicaciones .soloTextoPublic{
    background: rgb(37, 36, 36);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination {
    position: absolute;
    bottom: 0px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%; 
    background-color: #a19e9e;
    transition: .3s ease;
    border: none;
    cursor: pointer; 
    margin: auto 5px; 
}

.dot.active {
    background-color: white;
    height: 10px;
    width: 10px;
}
@media (max-width: 1050px){
    .inicio .content .subContent{
        flex-direction: column-reverse;
        transition: .4s ease;
        gap: 50px;
    }
}
@media (max-width: 800px) {
    .inicio main .bienvenida{
        font-size: 20px;
        backdrop-filter: blur(5px);
        margin-top: 0px;
    }
    .inicio .content .subContent2 h1{
        font-size: 35px;
        margin-top: 20px;
    }
    .inicio .content .new_public{
        box-shadow: 3px;
        margin-top: 30px;
    }
    .inicio main .box-butons .butons1{
        justify-content: center;
        margin-left: 0;
        align-items: center;
    }
    .inicio .box-butons button{
        margin-left: -6%;
    }
}
@media (max-width: 700px) {
    .inicio main .bienvenida{
        font-size: 20px;
    }
    .inicio .content .subContent .insti{
        font-size: 22px;
    }
    .inicio .content .subContent .subContent2{
        box-shadow: none;
    }
    .inicio .box-butons{
        padding-bottom: 200px;
    }
}

