.perfil-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, rgba(4, 4, 27, 1) 0%, rgba(64, 2, 2, 1) 200%);
  padding: 20px;
}

.perfil-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 10px 20px rgba(0, 0, 0, 0.1),
              0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: all 0.3s ease;
  border: 2px solid white;
}

.perfil-card h2,
.perfil-card p {
  color: white;
}

.perfil-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.perfil-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  object-fit: cover;
  border: 2px solid white;
}

.perfil-info {
  text-align: center;
  margin-bottom: 20px;
}

.perfil-opciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opcion {
  background-color: #4267B2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.opcion:hover {
  background-color: #8bb095;
}

.boton-regresar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.boton-regresar:hover {
  background-color: #3e8e41;
}

.form-editar,
.form-cambiar-contrasena {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #4267B2;
  box-shadow: 0 0 5px rgba(66, 103, 178, 0.5);
}

.perfil-container button[type="submit"] {
  background-color: #4267B2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.perfil-container button[type="submit"]:hover {
  background-color: #8bb095;
}
