.cabeza{
    position: sticky;
    top: 0;
    display: none;
    padding: 0 25px;
    align-items: center;
    background: linear-gradient(135deg, rgb(4, 4, 27) 0%, rgb(64, 2, 2) 200%);
    width: 100%;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cabeza img{
    width: 150px;
}
.cabeza button{
    border: orangered solid 1px;
    background: orangered;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 37px;
    cursor: pointer;
    transition: .3s ease;
    margin-bottom: 20px;
    margin-top: 10px;
}
.cabeza div{
    display: flex;
    gap: 10px;
    margin-right: -10px;
}

.cabeza div .salirUser{
    box-shadow: 0 0 2px aqua;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: white;
    display: grid;
    place-items: center;
    padding: 5px;
}
.cabeza .perfilUser{
    box-shadow: 0 0 2px aqua;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: white;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.cabeza .perfilUser .ico_user{
    width: 100%;
    height: 100%;
}
.cabeza .perfilUser img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
    .cabeza{
        z-index: 2;
        position: sticky;
        top: 0px;
        display: flex;
        justify-content: space-between;
        height: 70px;
    }
}