.biblioteca{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(to bottom right, rgb(4, 4, 27), rgb(64, 2, 2));
}
.biblioteca .container{
    padding: 10px;
    color: white;
    transition: 0.3s ease;
    height: calc(100vh - 70px);
    margin-left: 205px;
    width: calc(100% - 205px);
}

.biblioteca .dsiNav .link4{
    color: orangered;
}
.carpetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 15px;
    position: relative;
    margin-top: 20px;
}
.carpetas .folder{
    box-shadow: 0 0 3px aqua;
    border-radius: 10px;
    padding: 8px;
    /* max-width: 500px; */
    cursor: pointer;
    transition: 0.3s ease;
    animation: aparecer 0.5s ease-in-out forwards;
    opacity: 0;
}
.carpetas .folder:hover{
    text-decoration: underline orangered 1px;
}
.folder .subFolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carpetas .folder{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.folder p{
    font-size: 14px;
}
.folder .folderIco{
    width: 30px;
}
.biblioteca .imgs{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 140px;
}
.biblioteca .imgs img{
    width: 100%;
    max-height: 460px;
    max-width: 500px;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px){
    .biblioteca .container{
        margin-left: 55px;
        width: calc(100% - 55px);
    }
    .biblioteca .carpetas{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px) {
    .biblioteca main{
        margin-top: -70px;
    }
}